.content-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .main-box {
        position: absolute;
        top: 20%;
        left: 50%;
        background-color: rgba(198, 198, 198, .16);
        border-radius: 5px;
        padding: 10px 50px;
        padding-top: 40px;
        transform: translate(-50%);
        .input-box {
            width: 300px;
        }
        .login-button {
            margin-left: 50%;
            margin-right: 20px;
        }
    }
}